{% extends 'base.html' %}
{% load static %}

{% block customcss %}
    <link rel="stylesheet" href="{% static 'css/sort.css' %}"></link>
    <link rel="stylesheet" href="{% static 'css/judge.css' %}"></link>
    <link rel="stylesheet" href="{% static 'css/search.css' %}"></link>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/js/jquery.tablesorter.min.js"></script>
    <script src="{% static 'js/display.js' %}"></script>
    <script src="{% static 'js/sort.js' %}"></script>
    <script src="{% static 'js/search.js' %}"></script>
{% endblock customcss %}

{% block header %}
<h1>画像診断アプリ</h1>
{% endblock header %}

{% block content %}
    <div class="content">
      <img class="imager" src="{{ img.images.url }}" alt="">
      {% if data %}
        <div class="context">
          <div class="menu">
            <h4 class="menu-bar"><span class="toggle">☆</span>モデルの絞り込み</h4>
            <ul class="menu-custom">
              {% for key,name in models.items%}
                {% if forloop.first %}
                {% else %}
                  <li><label><input type="checkbox" class="search-item" name="search" value="{{ key }}">{{ name }}</label></li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
          <table class="table table-bordered table-striped">
            <thead>
              <tr><th colspan=4>診断結果</th></tr>
              <tr>
                <th>使用モデル</th>
                <th>英語</th>
                <th>日本語訳</th>
                <th>確率</th>
              </tr>
            </thead>
            <tbody>
              {% for da in data %}
                <tr>
                    {% for key,name in models.items %}
                        {% if key == da.model %}
                            <td class="model-name" data-value="{{ key }}">{{ name }}</td>
                        {% endif %}
                    {% endfor %}
                    <td>{{ da.en }}</td>
                    <td>{{ da.jp }}</td>
                    <td>{{ da.tie }}%</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}
      <a href="{% url 'create' %}" class="btn btn-dark prev-btn"><戻る</a>
    </div>
{% endblock content %}
