{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'css/sort.css' %}"></link>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/js/jquery.tablesorter.min.js"></script>
<script src="{% static 'js/sort.js' %}"></script>
<style type="text/css">
    .one{
        display: inline-block;
    }
    .hide{
        display: none;
    }
    img{
        max-width: 300px;
        max-height: 300px;
    }
    .main-img{

    }
    img#modal-img{
        vertical-align:top;
        margin:10px;
    }
    #copy-link{
        padding: 6px 12px;
    }
    .ribon{
        position: absolute;
        /* top: -6px;
        right: -6px; */
        width: 89px;
        height: 91px;
        overflow: hidden;
    }
    .ribon.release-ribon .release{
        background: #ffa520;
    }
    .ribon.release-ribon .release:before,
    .ribon.release-ribon .release:after{
        border-top: 4px solid #b67615;
    }
    .ribon.private-ribon .release{
        background: #1f7aff;
    }
    .ribon.private-ribon .release:before,
    .ribon.private-ribon .release:after{
        border-top: 4px solid #1657b6;
    }

    .ribon .release{
        display: inline-block;
        position: absolute;
        padding: 7px 0;
        left: -23px;
        top: 22px;
        width: 160px;
        text-align: center;
        font-size: 18px;
        line-height: 16px;
        color: #fff;
        letter-spacing: 0.05em;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
    .ribon .release:before,
    .ribon .release:after{
        position: absolute;
        content: "";
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        bottom: -4px;
    }
    .ribon .place:before{
        left:14px
    }
    .ribon .place:after{
        right:18px
    }
</style>
{% endblock customcss %}

{% block content %}
    {% if message %}
        {% for post in message %}
            {% if id == post.user %}
                <div class="one">
                    <div class="ribon {% if post.release %}release-ribon{% else%}private-ribon{% endif%}" id="ribon-{{ forloop.counter }}">
                        <span class="release">
                        {% if post.release %}
                            公開
                        {% else %}
                            非公開
                        {% endif %}
                        </span>
                    </div>
                    <img src="{{ post.images.url }}" class="trig main-img img-thumbnail" data-id="{{ forloop.counter }}">
                    <div class="hide" id="table-{{ forloop.counter }}">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr><th colspan=4>診断結果</th></tr>
                                <tr>
                                    <th>使用モデル</th>
                                    <th>英語</th>
                                    <th>日本語訳</th>
                                    <th>確率</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for da in results %}
                                    {% if da.image_pk == post.pk %}
                                    <tr>
                                        {% for key,name in models.items %}
                                            {% if key == da.model %}
                                                <td class="model-name" data-value="{{ key }}">{{ name }}</td>
                                            {% endif %}
                                        {% endfor %}
                                        <td>{{ da.en }}</td>
                                        <td>{{ da.jp }}</td>
                                        <td>{{ da.tie }}%</td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <span class="hide" id="title-{{ forloop.counter }}">
                        <h3>{{ post.title }}</h3>
                    </span>
                    <div class="hide" id="link-{{ forloop.counter }}">
                        <a href="{% url 'judger' post.pk %}" class="btn-success">開く</a>
                    </div>
                </div>
                <script type="text/javascript">
                    $(function(){
                        $("#ribon-{{ forloop.counter }}").css({"left":$("#ribon-{{ forloop.counter }}").parent().width()-$("#ribon-{{ forloop.counter }}").width()});
                    });
                    $(window).resize(function(){
                        $("#ribon-{{ forloop.counter }}").css({"left":$("#ribon-{{ forloop.counter }}").parent().width()-$("#ribon-{{ forloop.counter }}").width()});
                    });
                </script>
            {% endif %}
        {% endfor %}
    {% else %}
        <p class="text-danger">投稿したコンテンツがありません</p>
    {% endif %}
    {% include "modal-maker.html" %}
    <script type="text/javascript">
        $(function(){
            $("div.modal-body").scroll(function(){
                $('#modal-img').css({"position":"relative","top":$(this).scrollTop()});
            });
            $('.trig').on('click',function(){
                var ff = $(this).data("id");
                console.log(ff);
                var src = $(this).attr("src");
                $("#modal-op").modal();
                $('#modal-img').attr("src",src);
                $('#modal-table').html($("#table-"+ff).html());
                $('#copy-link').html($("#link-"+ff).html());
                $('table.table').tablesorter({});
                $('span.modal-title').html($("#title-"+ff).html());
            });
            $(".ribon").on("click",function(){
                var target = $(this).attr("id");
                var number = target.replace("ribon-","");
                {% comment %} ここに公開と非公開を切り替えるためのモーダルの用意 {% endcomment %}
            });
        });
    </script>
{% endblock content %}
