{% extends 'base.html' %}
{% load static %}

{% block customcss %}
{% endblock customcss %}

{% block content %}
    {% if message %}
        <h3>今まであなたが診断してきた画像</h3>
        {% for post in message %}
            {% if id == post.user %}
                <div class="media">
                    <img src="{{ post.images.url }}" class="mr-3" alt="" width="300">
                    <div class="media-body">
                        <h5 class="mt-0 btn-h5">{{ post.title }}</h5>
                        <table class="table">
                            <thead>
                                <tr>
                                    {% comment %} <th>モデル名</th> {% endcomment %}
                                    <th>英語</th>
                                    <th>日本語</th>
                                    <th>確率</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for result in results %}
                                    {% if result.image_pk == post.pk %}
                                        <tr>
                                            {% comment %} <td>{{ resilt.model }}</td> {% endcomment %}
                                            <td>{{ result.en }}</td>
                                            <td>{{ result.jp }}</td>
                                            <td>{{ result.tie }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <p class="text-danger">投稿したコンテンツがありません</p>
    {% endif %}
    <script type="text/javascript">
        $(function(){
            $('.btn-h5').on('click',function(){
                $(this).next("table").animate({"height":"toggle"});
            });
            $('table').animate({"height":"toggle"});
            $('img').on('click',function(){
                $(this).next("div.media-body").animate({"height":"toggle"});
            });
        });
    </script>
{% endblock content %}
